// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$danger: #e0001b;
$secondary: #474747;
$dark: #000000;
$light: #fefefe;
$primary: #e0001b;
